.cadastro{
    width: 80%;
    height: 95vh;
    background-color: aliceblue;
    position: fixed;
    right: 40px;
    bottom: 10px;
    z-index: 11;
    border-radius: 20px;
    transition: all ease-in-out 2s; 
    margin-left: 10px;
    overflow: scroll
}
.headerBox{
    width: 80%;
    height: 30px;
    background-color: darkblue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: white;
    text-align: center;
    position: fixed;
    z-index: 1100;
    cursor: pointer;
}
.icons{
    cursor: pointer;
}