.topo{
    background-color: #2847AE;
    width: 100%;
    position: absolute;
    z-index: 10 !important;
    top: 0;
}
.topoFundo{
    width: 100%;
    height: 80px;
    min-height: 0px;
}
img{
    width: 100px;
}
